In [1]:
import pandas as pd
import numpy as np

In [2]:
TDS_7=pd.read_csv('data/TDS_7.csv',header=0)
TDS_8=pd.read_csv('data/TDS_8.csv',header=0)

In [3]:
print(TDS_7.shape)
print(TDS_8.shape)

(2784, 13)
(2880, 13)

In [4]:
display(TDS_7.head())
display(TDS_8.head())

,Unnamed: 0,時間,ソアリン,トイストーリーマニア,タワーオブテラー,センターオブジアース,インディージョーンズ,レイジングスピリッツ,マジックランプシアター,タートルトーク,曜日_数値,曜日,休日
0,0,2022-07-01 09:00:00,95,65,50,25,5,5,0,0,4,Friday,False
1,1,2022-07-01 09:15:00,80,65,45,35,10,5,0,0,4,Friday,False
2,2,2022-07-01 09:30:00,110,65,55,45,10,10,0,0,4,Friday,False
3,3,2022-07-01 09:45:00,110,65,60,45,10,10,0,0,4,Friday,False
4,4,2022-07-01 10:00:00,120,65,55,40,20,20,30,15,4,Friday,False

,Unnamed: 0,時間,ソアリン,トイストーリーマニア,タワーオブテラー,センターオブジアース,インディージョーンズ,レイジングスピリッツ,マジックランプシアター,タートルトーク,曜日_数値,曜日,休日
0,0,2022-08-01 09:00:00,90,85,80,40,20,5,0,0,0,Monday,False
1,1,2022-08-01 09:15:00,95,85,90,45,30,5,0,0,0,Monday,False
2,2,2022-08-01 09:30:00,95,85,90,50,30,15,0,0,0,Monday,False
3,3,2022-08-01 09:45:00,90,75,80,45,25,25,0,0,0,Monday,False
4,4,2022-08-01 10:00:00,80,60,80,45,35,35,10,5,0,Monday,False

In [2]:
ride_time=[5, 7, 2, 3, 3, 2, 23, 30]